$color-brand: #0086E7;


.navbar-provider {
  height: 96px;
  border-bottom: 1px solid #E8E8EA;

  .row {
    padding: 0 80px;
    margin: 0;
    height: 100%;

    .col-md-6 {
      height: 100%;

      display: flex;
      align-items: center;

      img {
        display: block;
      }

      a {
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        margin-top: 51px;
        margin-bottom: 24px;
        margin-right: 33px;

        color: #1A1A1A;

      }

      .con-btn {
        background: #0086E7;
        border-radius: 8px;
        font-weight: 500;
        font-size: 18px;

        height: 82px;
        display: flex;
        color: #FFFFFF;

        width: 252px;
        align-items: flex-end;
        justify-content: space-between;
        padding: 16px 24px;
        margin-top: 0;
      }
    }

    .col-md-6:nth-child(2) {
      justify-content: flex-end;
    }
  }
}

.banner-carousel {

  overflow: hidden;
  width: 88.8vw;
  position: relative;


  margin: 32px auto;


  .slick-active {

    background: #53AFF7;
    border: 1px solid #58B7FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 1px rgba(0, 119, 228, 0.8);

  }

  .slick-slide {
    background-color: transparent !important;
    border: 1px solid transparent !important;

  }

  .slick-dots {
    display: flex !important;
    justify-content: space-between;
    position: absolute;
    width: 160px;
    bottom: 54px;
    left: 70px;


    li {
      border: 1px solid #58B7FF;
      box-sizing: border-box;
      box-shadow: 0px 0px 8px 1px rgba(0, 119, 228, 0.8);

      border-radius: 50%;
      width: 12px;
      height: 12px;

      button {
        width: 12px;
        height: 12px;

        &::before {
          display: none;
        }
      }
    }
  }

  .carousel-item-img {
    border-radius: 16px;

    position: relative;


    .banner-title {

      position: absolute;
      padding-top: 150px;
      padding-left: 70px;

      display: flex;

      flex-direction: column;

      h1 {
        font-weight: normal;
        font-size: 48px;
        line-height: 57px;

        color: #FFFFFF;
      }

      .third-arrow {

        margin-top: 46px;
        display: block;
        background: #0086E7;
        border-radius: 8px;
        width: 252px;
        height: 96px;
        padding: 0;
        padding-bottom: 16px;
        padding-right: 24px;
        padding-left: 24px;

        a {
          padding: 0;
          margin: 0;
          color: #fff;
          padding-right: 24px;

          position: relative;
          padding-top: 64px;
          background: #0086E7;
          border-radius: 8px;
          width: 252px;
          height: 96px;
          display: flex;
          justify-content: space-between;

          &:hover {
            text-decoration: none;
          }

          img {
            position: absolute;
            right: 30px;
            bottom: 12px;
          }
        }
      }


    }

    .banner-carousel-img-item {
      //position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      width: 100%;
    }
  }


  .for-call-center {
    position: absolute;
    z-index: 999;
    bottom: 59px;
    right: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 80px;
    }

    h3 {
      font-weight: normal;
      font-size: 16px;
      line-height: 15px;
      color: #FFFFFF;
      margin-right: 20px;
    }
  }
}

.special-offers {
  overflow-x: hidden;
  background: #F8F8F8;
  padding-bottom: 58px;

  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 72px;
    color: #000000;
    margin-left: 80px;
    margin-top: 33px;
    margin-bottom: 48px;

  }

  .row {
    .col-md-6 {
      padding-left: 82px;

      .laptop-img {

        width: 100%;
      }

      h2 {
        font-weight: 500;
        font-size: 34px;
        color: #0086E7;
        margin-top: 30px;
      }

      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        margin-top: 24px;
        margin-bottom: 38px;

        width: 480px;
        color: #222222;
      }

      .third-arrow {

        margin-top: 46px;
        display: block;
        background: #0086E7;
        border-radius: 8px;
        width: 252px;
        height: 96px;
        padding: 0;
        padding-bottom: 16px;
        padding-right: 24px;
        padding-left: 24px;


        a {
          padding: 0;
          margin: 0;
          color: #fff;
          padding-right: 24px;

          position: relative;
          padding-top: 64px;
          background: #0086E7;
          border-radius: 8px;
          width: 252px;
          height: 96px;
          display: flex;
          justify-content: space-between;

          &:hover {
            text-decoration: none;
          }

          img {
            position: absolute;
            right: 30px;
            bottom: 12px;

          }
        }
      }
    }
  }
}

.category-provider {
  overflow-x: hidden;
  margin-top: 64px;
  margin-bottom: 64px;

  .row {
    padding-left: 300px;
    padding-right: 300px;

    .col-md-4 {
      display: flex;
      justify-content: center;

      .category-box {

        background: #FFFFFF;
        border: 2px solid #58B7FF;
        box-sizing: border-box;
        box-shadow: 0px 0px 8px 2px rgba(0, 119, 228, 0.16), inset 6px 0px 16px 8px rgba(223, 223, 223, 0.25);


        width: 12.5vw;
        height: 12.5vw;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
          font-size: 24px;
          line-height: 28px;
          text-align: center;

          font-weight: normal;
          color: #000000;
        }
      }
    }
  }
}

.price-provider {

  padding-left: 80px;
  padding-right: 80px;


  .slick-prev {
    &::before {
      content: '' !important;
    }
  }

  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 72px;

    color: #171717;
  }


  .price-item {


    .price-item-child {
      padding: 32px 24px;


      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 20px;

      background: #FFFFFF;
      border: 1px solid #E8E8EA;
      box-sizing: border-box;
      border-radius: 12px;
      transition: 0.5s;

      &:hover {
        margin-top: 0px;
      }

      h2 {
        font-weight: 500;
        font-size: 28px;
        color: #101828;

        margin-bottom: 60px;

      }

      .speed-list {

        display: flex;
        align-items: start;
        margin-top: 24px;

        img {

          margin-top: 4px;
        }

        h3 {
          display: flex;
          margin-left: 12px;

          flex-direction: column;

          span:nth-child(1) {
            font-weight: 500;
            font-size: 15px;
            color: #101828;
          }

          span:nth-child(2) {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #878B93;
          }
        }
      }

      p {
        font-weight: normal;
        font-size: 15px;
        color: #B0B0B0;

        margin-top: 24px;
      }

      h1 {
        font-weight: 500;
        font-size: 39px;
        text-align: center;
        color: #000000;
        margin: 0;

      }

      h5 {
        font-size: 15px;
        text-align: center;
        color: #000000;
        margin: -12px;

      }


      .third-arrow {

        margin-top: 46px;
        display: block;
        border-radius: 8px;
        padding: 0;


        a {
          padding: 0;
          color: #fff;
          padding-right: 24px;

          padding-left: 13px;
          position: relative;
          padding-top: 64px;
          background: #0086E7;
          border-radius: 8px;
          width: 90%;
          height: 96px;
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          font-size: 18px;

          &:hover {

            text-decoration: none;
          }

          img {
            position: absolute;
            right: 30px;
            bottom: 12px;
          }
        }
      }
    }
  }
}

.video-monitoring-style {

  .container {
    h1 {
      font-weight: normal;
      font-size: 72px;
      line-height: 85px;

      margin-top: 101px;
      color: #0086E7;
    }

    .row {
      .col-md-6 {

        p {
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;

          color: #222222;
          margin-top: 56px;

        }

        img {
          margin: 55px auto;
        }
      }
    }
  }


}

.second-pair-vm {
  padding-right: 0;
  margin-right: 0;

  overflow: hidden;

  margin-top: 200px;
  width: 1050px;

  margin-left: auto;
  position: relative;

  .right-title-link {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(0, 68, 118, 0.96);

    height: 428px;

    h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;

      color: #FFFFFF;
      padding: 42px 34px;
    }

    img {
      margin-top: 225px;

      margin-right: 30px;
    }
  }


  .second-pair-sub-title {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    padding-left: 24px;

    h2 {
      font-size: 34px;
      line-height: 40px;
      color: #222222;
      border-bottom: 1px solid #C5C5C5;
      padding-bottom: 20px;
    }

    p {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
      margin-top: 24px;
      color: #222222
    }
  }
}

.third-pair-vm {

  position: relative;

  .PerfectSound {
    position: absolute;
    //top: 1200px;
    width: 100%;


    top: 300px;
    z-index: -1;

  }

  .third-pair-vm-img {
    position: relative;
    width: 920px;


    margin-left: auto;
    margin-right: auto;

    .third-big-img {
      margin-top: 195px;
    }

    h2 {
      font-size: 34px;
      line-height: 40px;
      color: #222222;
      margin-top: 31px;
    }

    p {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
      margin-top: 20px;
      color: #222222
    }

    .third-arrow {
      position: absolute;
      bottom: 200px;
      right: -110px;
      background: #0086E7;
      border-radius: 8px;
      width: 252px;
      height: 96px;
      padding: 0;
      padding-bottom: 16px;
      padding-right: 24px;
      padding-left: 24px;
      margin: 0;

      a {
        padding: 0;
        margin: 0;
        color: #fff;
        padding-right: 24px;

        position: relative;
        padding-top: 64px;
        background: #0086E7;
        border-radius: 8px;
        width: 252px;
        height: 96px;
        display: flex;
        justify-content: space-between;

        &:hover {
          text-decoration: none;
        }

        img {
          position: absolute;
          right: 30px;
          bottom: 12px;
        }
      }
    }
  }


  .cam-draw {
    position: absolute;
    right: 0;
    //bottom: 0;
  }
}

.video-monitoring-objects {

  margin-top: 165px;

  h1 {
    font-weight: normal;
    font-size: 64px;
    color: #0086E7;

  }

  .row {
    .col-md-4 {
      .img-title-box {
        img {
          width: 308px;
          height: 247px;

          margin-top: 60px;
        }


        h3 {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          color: #171717;
          margin-top: 32px;

        }
      }
    }
  }
}


.second-pair-de {

  margin-top: 170px;
  overflow: hidden;

  .row {
    justify-content: flex-end;

    display: flex;
    align-items: center;

    div {
      padding-right: 110px;


      h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        color: #0086E7;
      }

      p {
        margin-top: 32px;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #222222;
      }
    }
  }
}

.footer-pair {
  padding: 96px 80px 60px 80px;
  background: #F8F8F8;
  overflow: hidden;

  margin-top: 150px;

  .row {
    .col-md-3 {

      h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
      }

      a {
        display: block;

        margin: 24px 2px;
        color: #1A1A1A;

        &:hover {
          text-decoration: none;
          color: #298EEA;

        }
      }

      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #9C9C9C;
      }
    }
  }


  .sub-footer-pr {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;

    h3 {
      font-weight: 500;
      font-size: 20px;
      color: #000000;
      margin-right: 5px;
    }
  }

  .sub-footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 26px;

    .sot-set {

      display: flex;
      align-items: center;

      a {
        margin-right: 23px;
      }
    }

    .contacts {
      h1 {
        font-weight: normal;
        font-size: 72px;
        line-height: 85px;
        text-align: right;
        letter-spacing: 0.04em;
        color: #A9A9A9;

      }
    }
  }

  .sub-footer-pe {
    h5 {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      margin-top: 28px;
      margin-left: 33px;
    }
  }
}


.test2{


  svg{
    width: 100vw;

    height: 100vh;
  }

  .cls-1, .cls-3, .cls-4    {
    fill: none;
    stroke: #0086e7;
    stroke-miterlimit: 10;
    stroke-dasharray: 2300;
    stroke-dashoffset: 2300;
    animation: dash 5s linear forwards;
  }


  .cls-2{
    animation: change-background 4s    ;
    fill: #0086e7;
  }


  @keyframes change-background {
    0% {
      fill: transparent;
    }
    25% {
      fill:transparent;
    }
    50% {
      fill: transparent;
    }
    75% {
      fill: transparent;
    }
    100% {
      fill: #0086e7;
    }
  }


  .cls-1 {
    stroke-width: 1.5px;
  }



  .cls-4 {
    stroke-width: 0.5px;
  }



  path{
     fill:none;
    stroke:#298EEA;
    stroke-width:1;

    stroke-dasharray: 2300;
    stroke-dashoffset: 2300;
    animation: dash 5s linear forwards;
  }



  @keyframes dash {
    to {
      stroke-dashoffset: 0;


    }
  }
}


